.sellerhomepageimg{
    background-image: url("https://img.freepik.com/premium-photo/real-estate-business-residential-rental-investment_123766-56.jpg?w=740");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}