

#FgPassword{
    
    text-align: center;
    padding-top: 7rem;
    padding-bottom: 5rem;
    
}

#FgPassword h1{
    padding-top: 5rem;
    font-size: 25px;
}

.user-fgpassbtn{
    padding-top: 2rem;
}

.user-fgpassbtn button{
    height: 35px;
    width: 130px;
color: #fff;
background-color: #3383ff;
border: none;
font-weight: 600;
}

#FgPassword h2{
    font-size: 20px;
    padding-top: 3rem;
}

#FgPassword h3{
    padding-top: 3rem;
    font-size: 15px;
}

#FgPassword span{
    background-color: lightgrey;
}

#FgPassword a{
    text-decoration: none;
    color: black;
    }

.fgimage{
    padding-left: 10rem;
}

    .fgimage img{
        height:35rem;
        width: 35rem;
    }

    .user-login-input{
        padding-top: 1rem;
    }

    .user-login-input input{
        height: 2.5rem;
        width: 30%;
        outline: none;
        padding: 0 20px;
        font-size: 17px;
        font-weight: 400;
        color: #333;
        border: 2px solid black;
       
        transition: all 0.3s ease
    }

    