.backg{
    background-color: rgba(227, 225, 228, 0.345);
}
.box{
    margin-top: 110px;
    border-radius: 40px 0px 60px 0px;
    background: linear-gradient(rgba(255, 0, 0, 0.311),rgba(81, 0, 255, 0.503));
    padding: 40px;
}
.btn{
    margin-left: 35px;
    width: 150px;
}
.register{
    text-align: center;
}
.foot{
   
    background-color: white;
}